.card {
    position: relative;
    display: grid;
    grid-template-columns: 52px 1fr;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    padding: 8px 6px;
    place-items: center;
    margin-bottom: var(--gap);
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    grid-row: 1 / 3;
}

.post {
    place-self: center start;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: var(--font-size-large);
    color: var(--text-color);
}

.itemGroup {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: var(--gap);
}

.byUsername {
    font-size: var(--font-size-small);
    color: var(--text-color);
    font-weight: bold;
    margin-right: var(--gap);
}

.publicationDate {
    font-size: var(--font-size-small);
    color: var(--text-color-light);
    margin-right: var(--gap);
}

.keywordsTag {
    font-size: var(--font-size-small);
    color: var(--text-color);
    background-color: #E4ECF1;
    padding: 2px 6px;
    border-radius: var(--gap);
}

.description {
    font-size: var(--font-size-medium);
    color: var(--text-color-dark);
    display: block;
}

.stats {
    display: flex;
    gap: 0 8px;
    grid-column: 2;
    place-self: center start;
    flex-wrap: wrap;
}

.commentsNums {
    font-size: var(--font-size-small);
    color: var(--text-color);
}

.likes {
    font-size: var(--font-size-small);
    color: var(--text-color);
}

.dislikes {
    font-size: var(--font-size-small);
    color: var(--text-color);
}

@media (min-width: 650px) {
    .card {
        grid-template-columns: 52px 1fr 224px;
    }

    .avatar {
        grid-row: unset;
    }

    .description {
        grid-column: 1 / 3;
    }

    .stats {
        position: absolute; 
        bottom: 8px; 
        right: 8px;
    }
}