.title {
    font-size: var(--font-size-extra-large);
    margin-bottom: 20px;
}

.paginationList {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    justify-content: center;
}

.pageItem {
    margin-right: var(--gap);
}

.pageItem.active button {
    background-color: var(--bg-color-dark);
}

.pageButton {
    padding: 4px 8px;
    background-color: var(--bg-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pageButton:hover {
    background-color: var(--bg-color-light);
}

@media (min-width: 650px) {
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .paginationList {
        justify-content: start;
    }

}