.categoryWrapper {
    background-color: white;
    display: grid;
    grid-template-columns: 56px max-content 1fr;
    gap: 4px;
}

.categoryWrapper:nth-child(n) {
    border-top: solid 1px var(--bg-color-light);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    grid-row: span 5;
}

.subCategoryTitle {
    color: var(--text-color-light);
    font-size: var(--font-size-extra-large);
    font-weight: bold;
    grid-column: span 2;
}

.lastPostBy {
    grid-column: span 2;
}
